/* write your override styles here */
#wall .tag{
    display: none;
    z-index: none;
    background-image: none;
    background: fixed;
}

.tag-1{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 500px;
}

.font{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}